* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: white;
}

header nav {
    display: flex;
    /* background-color: blue; */
    justify-content: space-between;
    padding: 20px 15px;
}

header nav ul {
    display: flex;
    list-style: none;
    align-items: center;    
    width: 40%;
    justify-content: space-around;
}

header nav ul li a {
    text-decoration: none; 
    color: black;
    text-transform: uppercase;
    font-size: 1em;
}

header nav ul li a:hover {
    color: #ff3232;
}

.button-nav {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    display: none;
}

.button-nav span {
    display: block;
    width: 28px;
    height: 3px;
    background-color:black;
    border-radius: 3px;
}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    box-sizing: border-box;
}

.mySlides {
    display: none;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  main {
      margin-top: 20px;
  }

  .main-containner {
      background-color: #f5f5f5;
      margin-left: 25px;
      margin-right: 25px;
      border-radius: 10px;
      padding-bottom: 20px;
      box-sizing: border-box;
  }

  .text-containner {
      text-align: center;
  }

  /* .news-containner {
      background-color: black;

  } */

  .news-containner .news-image-items {
      background-color: #fff;
      width: 230px;
      height: 230px;
      border-radius: 10px;
      display: flex;
      position: relative;
      right: 30px;
  }

  .news-containner .news-image-items img {
      margin: auto;
  }

  .news-containner .news-item-containner .news-items {
      background-color: #fff;
      max-width: 500px;
      border-radius: 5px;
      height: 80px;
      font-weight: 550;
      text-align: center;
  }

  .news-containner .news-item-containner .news-items:hover {
      background-color: #ff3232;
  }

  .news-containner {
      display: flex;
      justify-content: center;
  }

  .news-item-containner {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }

@media screen and (max-width: 768px) {
    header nav ul {
        width: 50%;
    }
}


@media screen and (max-width: 950px) {
    .news-containner {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .news-containner .news-image-items {
        width: 90%;
        margin-left: 25px;
        margin-right: 25px;
        position: relative;
        left: 0px;
        right: 20px;
    }

    .news-containner .news-item-containner {
        position: relative;
        top: 10px;
        justify-content: space-between;
    }

    .news-containner .news-item-containner .news-items {
        max-width: 80%;
        margin: auto;
        height: max-content;
        padding: 20px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 580px) {
    .news-containner .news-item-containner .news-items {
        max-width: 80%;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
    }
}


@media only screen and (max-width: 768px) {
    header nav ul {
        position: fixed;
        /*left: -100%;*/
        /*top: 5rem;*/
        bottom: 100%;
        left: 0;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.7s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    header nav ul.active{
        background-color: white;
        left: 0;
        bottom: 0;
        bottom: 52%;
    }

    header nav ul li{
        margin: 2.5rem 0;
    }

    header nav ul li a:hover {
        color: #ff3232;
    }

    .button-nav {
        display: flex;
        justify-content: space-around;
        cursor: pointer;
    }

    .button-nav.active span:nth-child(2) {
        opacity: 0;
    }

    .button-nav.active span:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .button-nav.active span:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }
}
